/* Estilo para el catálogo de productos */
.container-cards {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    justify-content: center;
    
  }
  
  h1 {
    text-transform: uppercase;
    margin-top: 20px;
  }
  
  .card {
    border-color: transparent;
    margin: 20px;
    padding: 20px;
    width:auto;
    height: auto;
    
  }
  
  .card-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 16px;
  }
  
  /* Estilo para el carrito de compras */
  h2 {
    text-transform: uppercase;
    margin-top: 40px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  /*li {
    margin: 10px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    font-size: 16px;
  }*/
  
  /* Estilo para el botón de compartir por WhatsApp */
  .btn-success {
    margin-top: 20px;
  }
  
  /* Estilo para el pie de página */
  footer {
    text-align: center;
    margin-top: 20px;
  }
  
  .container-titulo {
    display: flex;
    justify-content: center;
  }

  .row {
    display: flex;
    align-items: center;
  }
  
  h2 {
    display: flex;
    align-items: last baseline;
    justify-content: center;
  }

  .btn-success{
    height: auto;
  }

  .btn-primary{
    background-color: bisque;
    border-color: bisque;
  }

  .btn-primary:hoover {
    color: azure;
  }

  /*** ESTILOS BOTÓN SLIDE TOP ***/
.btn-cart {
  background: rgb(191, 165, 155); /* color de fondo */
  color: black; /* color de fuente */
  border: 1px solid beige; /* tamaño y color de borde */
  padding: 16px 20px;
  border-radius: 1px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}
.btn-cart:hover {
  color: #fff; /* color de fuente hover */
}
.btn-cart::after {
  content: "";
  background: bisque; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: 0;
  right: 0;
  top: -100%;
  bottom: 100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-cart:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

/*** ESTILOS BOTÓN GROW SKEW ***/
.btn-whatsapp {
  display: flex;
  align-items: center;
  background: #fff; /* color de fondo */
  color: #4741d7; /* color de fuente */
  border: 2px solid #4741d7; /* tamaño y color de borde */
  padding: 16px 20px;
  border-radius: 3px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}
.btn-whatsapp:hover {
  color: #fff;/* color de fuente hover */
}
.btn-whatsapp::after {
  content: "";
  background: #4741d7; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}
.btn-whatsapp:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}

.btn-cart,
.form-select {
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  
}

.popup-right {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: #b0a15d;
  color: white;
  padding: 10px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 0 4px 4px 0;
  right: 20px;
  
}
  
  
