/* Contacto.css */
.contacto-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  .contacto-info {
    flex: 1;
  }
  
  .contacto-datos {
    margin-top: 20px;
  }
  
  .dato {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .dato i {
    margin-right: 10px;
  }
  
  .contacto-escribir {
    flex: 1;
    margin-left: 20px;
    text-align: center;
  }
  
  .btn-whatsapp {
    background: rgb(191, 165, 155); /* color de fondo */
    color: black; /* color de fuente */
    border: 1px solid beige; /* tamaño y color de borde */
    padding: 16px 20px;
    border-radius: 1px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn-whatsapp:hover {
    color: #fff; /* color de fuente hover */
  }

  .btn-whatsapp::after {
    content: "";
    background: bisque; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: 0;
    right: 0;
    top: -100%;
    bottom: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .btn-whatsapp:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  
  
  .contacto-imagen img {
    width: 100%;
    max-width: 100%;
    height: auto;
    
  }
  
  h2, h3 {
    color: #333;
  }
  
 .card {
  background-color: transparent;
  max-width: 100%;
  width: 100%;
  height: auto;
  
 }
 
 .card-title {
  display: flex;
  justify-content: center;
  align-items: center;
 }


  