/* Footer Styles */
.footer {
  background-color: #bdbdbd; /* Cambia el color de fondo a tu preferencia */
  color: white; /* Cambia el color del texto a tu preferencia */
  padding: 20px 0;
}

.footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer h5 {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer li {
  margin-bottom: 8px;
}

.footer a {
  color: white; /* Cambia el color de los enlaces a tu preferencia */
  text-decoration: none;
  transition: color 0.3s;
}

.footer a:hover {
  color: #cc7453; /* Cambia el color al pasar el mouse por encima a tu preferencia */
}

.footer .logo {
  max-width: 100%;
}

/* Estilo para la información de contacto */
.footer .contact-info {
  text-align: right;
}

/* Media query para hacer el footer responsive */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .footer .container {
    justify-content: center;
  }

  .footer .contact-info {
    margin-top: 20px; /* Agrega un espacio entre los enlaces y la información de contacto */
    text-align: center;
  }
}

.col-md-3 {
  justify-content: left;
}

