.logo {
    height: 40px;
}

/* Estilo base para el footer */
.footer {
    background: linear-gradient(to top, rgb(211, 218, 240), rgba(0, 0, 0, 0)); /* Degradado desde el color RGB hacia transparente de abajo hacia arriba */
    color: rgb(0, 0, 0); /* Texto blanco */
    padding: 20px 0; /* Espaciado interior superior e inferior */
    display: flex; /* Usar flexbox para distribuir elementos */
    justify-content: space-between; /* Espacio uniforme entre elementos */
    align-items: center; /* Centrar verticalmente */
  }
  
  /* Estilo para la sección de Enlaces Rápidos */
  .col-md-3 ul {
    list-style-type: none; /* Quita los puntos de la lista */
    padding: 0;
  }
  
  .col-md-3 li {
    margin-bottom: 10px; /* Espaciado entre elementos de la lista */
  }
  
  /* Estilo para el logo en el centro */
  .col-md-3 {
    text-align: center; /* Centrar horizontalmente el contenido de esta columna */
    flex-grow: 1; /* Permitir que esta columna crezca para centrar el logo */
  }
  
  .col-md-3 img.logo {
    display: block;
    margin: 0 auto; /* Centrar la imagen horizontalmente */
  }
  
  /* Estilo para la sección de Contacto */
  .col-md-6 h5 {
    margin-top: 0; /* Eliminar el margen superior del encabezado */
    text-align: right; /* Alinear el encabezado a la derecha */
  }
  
  /* Estilo para el teléfono y el correo de contacto */
  .col-md-6 p {
    margin: 0; /* Eliminar el margen de los párrafos */
    text-align: right; /* Alinear el texto a la derecha */
  }
  