.container {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    
    max-width: fit-content;
    
}

.container-catalogo {
    background-color: #cc7453;
    height: 220px;
    font-family: montserrat, sans-serif;
    text-align: center;
    color: azure;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.container-btn-whatsapp {
    background-color: #d6ae3d;
    height: 220px;
    font-family: montserrat, sans-serif;
    text-align: center;
    color: #fff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

h5 {
    text-align: center;
}

.card-text {
    text-align: center;
}


.emege-logo {
    width: 100%;
    max-width: 100%;
    height: auto;
    
    
  }

/*** ESTILOS BOTÓN GROW SPIN ***/
.ov-btn-grow-spin-catalogo {
    background: #fff; /* color de fondo */
    color: black; /* color de fuente */
    border: 1px solid #fff; /* tamaño y color de borde */
    padding: 16px 20px;
    border-radius: 5px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    margin-top: 40px;
    font-family: montserat, sans-serif;
    font-weight: 600;
    
  }
  .ov-btn-grow-spin-catalogo:hover {
    color: #fff; /* color de fuente hover */
  }
  .ov-btn-grow-spin-catalogo::after {
    content: "";
    background: bisque; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: 0;
    right: 0;
    top: -100%;
    bottom: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .ov-btn-grow-spin-catalogo:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }

  h1 {
    padding-top: 10px;
  }

  .card-img-top {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }